header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "a b .";
    color: black;
    height: 65px;
    
    /* LOGO */
    h1 { 
        grid-area: b;
        justify-self: center;
        align-self: center;
        font-family: $font-family_Shrikhand;
    }
    .arrow-link {
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-area: a;
        margin-left: 20px;
        width: max-content;
    }
}