@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 1920px;
  margin: auto;
}

a {
  text-decoration: none;
}

i {
  display: block;
  width: 15px;
  height: 15px;
}

.intro a {
  position: relative;
  transition: transform 200ms, box-shadow 300ms;
}
.intro a:hover {
  transform: scale(1.01);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.intro a:hover::before {
  opacity: 0.1;
}
.intro a::before {
  content: "";
  transition: opacity 200ms;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #FFF;
  opacity: 0;
}

.working__list li {
  transition: background-color 150ms, box-shadow 150ms, color 150ms;
}
.working__list li:hover {
  background-color: #F5EDFF;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
}
.working__list li:hover i {
  color: #9356DC;
  transition: color 150ms;
}

.card {
  margin-bottom: 20px;
  display: block;
  width: 100%;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 200ms, box-shadow 200ms;
}
.card:hover {
  box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.1), -2px -2px 15px 5px rgba(0, 0, 0, 0.1);
  transform: scale(1.01);
}

.card__info .fa-heart {
  position: relative;
}
.card__info .fa-heart:hover::after {
  opacity: 0;
}
.card__info .fa-heart::after {
  align-self: center;
  transition: opacity 400ms ease-in-out;
  background-color: #FFF;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  content: "";
  opacity: 1;
}
.card__info .fa-heart::before {
  font-weight: 600;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card {
  margin-bottom: 20px;
  display: block;
  width: 100%;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1), -2px -2px 15px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 600px) {
  .card {
    width: 49%;
  }
}
.card__img-block {
  position: relative;
  height: 70%;
}
.card__img-block img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__info {
  padding: 15px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "a . c" "b . c";
  align-items: center;
}
.card__info h3 {
  grid-area: a;
}
.card__info p {
  grid-area: b;
}
.card__info i {
  cursor: pointer;
  width: 100%;
  height: auto;
  grid-area: c;
  font-size: 1.5rem;
  color: black;
}

.intro a {
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  height: 50px;
  color: #FFF;
  overflow: hidden;
  border-radius: 35px;
  margin: 20px;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

header {
  height: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header h1 {
  font-family: "Shrikhand", cursive;
}

footer {
  padding: 30px 25px;
  background-color: #353535;
  color: #FFF;
  font-size: 1.2rem;
}
footer > h3 {
  font-family: "Shrikhand", cursive;
  margin-bottom: 20px;
}
footer ul {
  list-style: none;
}
footer li {
  margin: 10px 0;
}
footer a {
  color: white;
}
footer a:hover {
  text-decoration: underline;
}
footer i {
  margin-right: 15px;
}

.location {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  font-size: 1rem;
  box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.1);
}
.location i {
  margin: 5px;
}

.intro {
  padding: 45px 40px 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
}
.intro h2 {
  font-size: 1.2rem;
  margin: 0 15px 20px 15px;
}

.working {
  padding: 50px 25px;
}
.working h2 {
  margin-bottom: 20px;
}
.working__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.working__list i {
  margin: 20px;
}
.working__list ol {
  counter-reset: numberList;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .working__list ol {
    flex-direction: row;
  }
}
.working__list li {
  width: initial;
  counter-increment: numberList;
  position: relative;
  height: 70px;
  margin: 10px 0;
  padding: 0 15px;
  font-size: 1.2rem;
  background-color: #F6F6F6;
  border-radius: 25px;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 1024px) {
  .working__list li {
    width: 28%;
  }
}
.working__list li::before {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  text-align: center;
  content: counter(numberList);
  width: 30px;
  height: 30px;
  background-color: #9356DC;
  color: #FFF;
  border-radius: 50%;
  left: -15px;
}

.restaurant {
  padding: 40px 20px;
  background-color: #F6F6F6;
}
.restaurant h2 {
  font-size: 1.5rem;
}
.restaurant .container {
  margin: 20px 0 45px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.restaurant .card__img-block--newOn::before {
  position: absolute;
  top: 0px;
  right: 0px;
  left: auto;
  content: "Nouveau";
  margin: 15px;
  padding: 5px 10px;
  z-index: 1;
  font-weight: bold;
  color: #278870;
  background-color: #99E2D0;
}

/*# sourceMappingURL=style.css.map */
