$card-width: 100%;

.card {
    margin-bottom: 20px;
    display: block;
    width: $card-width;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 2px 15px rgba($color: black, $alpha: .1), -2px -2px 15px rgba($color: black, $alpha: .1);
    @include desktop-tablet-only{
        width: 49%;
    }
    &__img-block{
        position: relative;
        height: 70%;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__info{
        padding: 15px;
        display: grid;
		grid-template-columns: auto 1fr auto;
		grid-template-areas: "a . c" "b . c";
		align-items: center;
        h3 {
            grid-area: a;
        }
        p { 
		    grid-area: b;
        }
        i {
		    grid-area: c;
        }
    }
}