.btn { 
    position: relative;
    transition: transform 200ms, box-shadow 300ms;
    &:hover {
        transform: scale(1.01);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
        &::before {
            opacity: .10;
        }
    } 
    &::before {
        content: "";
        transition: opacity 200ms;
        position: absolute;
        top: 0px; right: 0px; bottom: 0px; left: 0px;
        background-color: #FFF;
        opacity: 0;
    }
}
.working__list { //index tutorial
    li {
        transition: background-color 150ms, box-shadow 150ms, color 150ms;
        &:hover {
            background-color: #F5EDFF;
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
            i {
                color: #9356DC;
                transition: color 150ms;
            }
        }
    }
}
.card { // index cards
    margin-bottom: 20px;
    display: block;
    width: 100%;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 200ms, box-shadow 200ms;
    &:hover {
        box-shadow: 2px 2px 15px 5px rgba($color: black, $alpha: .1), -2px -2px 15px 5px rgba($color: black, $alpha: .1);
        transform: scale(1.01);
    }
}
.fa-heart { //like button
    position: relative;
    &:hover{
        transition: opacity 200ms ease-in-out;
        &::after {
            opacity: 0;
        }
        &::before {
            opacity: 1;
        }
    }
    &::after {
        opacity: 1;
        font-weight: 100;
        align-self: center;
        transition: opacity 400ms ease-in;
        position: absolute;
        top: 0px; right: 0px; bottom: 0px; left: 0px;
        content: "\f004";
    }
    &::before {
        opacity: 0;
        background: linear-gradient( $color-primary, $color-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: opacity 400ms ease-out;
        font-weight: 600;
    }
}
.menu-list { // items menu
    @for $i from 1 through $max-items {
        :nth-child(#{$i}n) {
            animation-delay: #{$i * 0.2}s;
        }
    }
    li { 
        
        opacity: 0;
        animation: opacity-list 1000ms forwards;
        .check-circle { // animation check circle
            width: 0;
            transform: rotate(-180deg);
            transition: width 300ms ease-out;
            i {
                transition: transform 300ms ease-in-out;
            }
        }
        &:hover {
            .check-circle{
                width: 80px;
            }
            i {
                transform: rotate(180deg);
            }
        }
    }
    @keyframes opacity-list {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}