.location {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $color-bg_3;
    font-size: $font-size_base;
    box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.1);
    i {
        margin: 5px;
    }
}
.intro {
    padding: 45px 40px 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $color-bg_2;
    h2 {
        font-size: 1.2rem;
        margin: 0 15px 20px 15px;
    }
}
.working {
    padding: 50px 25px;
    h2 {
        margin-bottom: 20px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        i {
            margin: 20px;
        }
        ol{
            counter-reset: numberList;
            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            @include desktop-only{
                flex-direction: row; }           
        }
        li {
            cursor: pointer;
            width: initial;
            @include desktop-only{
                width: 28%; } 
            counter-increment: numberList;
            position: relative;
            height: 70px;
            margin: 10px 0 10px 15px;
            padding: 0 15px;
            font-size: 1.2rem;
            background-color: $color-bg_2;
            border-radius: 25px;
            display: flex;
            align-items: center;
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
            &::before {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0.8rem;
                text-align: center;
                content: counter(numberList);
                width: 30px;
                height: 30px;
                background-color: $color-primary;
                color: $font-color_1;
                border-radius: 50%;
                left: -15px;                
            }
        }
    }
}

.restaurant {
    padding: 40px 20px;
    background-color: $color-bg_2;
    h2 {
        font-size: $section-title_font-size;
    }
    .container {
        margin: 20px 0 45px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .card__img-block {
        &--newOn {
            &::before {
                position: absolute;
                border-radius: 2px;
                top: 0; right: 0; left: auto;
                content: "Nouveau";
                margin: 15px;
                padding: 5px 10px;
                z-index: 1;
                font-weight: bold;
                color: darken($color-tertiary, 40%);
                background-color: $color-tertiary;
            }
        }
    }
}