//color
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-bg_1: #FFF;
$color-bg_2: #F6F6F6;
$color-bg_3: #EAEAEA;

$font-color_1: #FFF;

//fonts
$font-family_Shrikhand: 'Shrikhand', cursive;
$font-size_base: 1rem;

/****************/

//header
$header_height: 65px;

//main
$section-title_font-size: 1.5rem;

    //location section
    $location--height: 50px;

    //working section
    $working-list--font-size: 1.2rem;

//footer
$footer_color-bg: #353535;
$footer_font-size: 1.2rem;