//color
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-bg_1: #FFF;
$color-bg_2: #F6F6F6;
$color-bg_3: #EAEAEA;
$color-bg_4: #353535;

//fonts
$font-family_Shrikhand: 'Shrikhand', cursive;
$font-size_base: 1rem;
$font-color_1: #FFF;
$section-title_font-size: 1.5rem;